@media(max-width: 1600px) {


    .container {
        padding: 0 22px;
    }

    .header {
        &__logo {

            width: 166px;
            height: 27px;

        }

        &__nav {
            flex-basis: 560px;
        }

        .search {
            &__form {
                width: 0;
            }


        }

        &__btn {
            right: 22px;
        }


    }

    .work {
        padding-top: 31px;

        .grid {
            grid-template-rows: 623px;
        }

        &__content {
            top: 430px;
            left: 30px;

            &-title {
                font-size: 34px;
                line-height: 100%;
                width: 100%;
                margin-bottom: 27px;
            }
        }

        &__list {
            grid-template-rows: 332px 186px;
        }

        &__title {
            margin-bottom: 29px;
        }

        &__img-right1 {
            height: 100%;
        }
    }


    .studio {
        &__content {
            padding-top: 27px;
            padding-bottom: 77px;
        }



        &__right-container {
            padding-top: 350px;
        }

        &__right-container::before {
            background-image: url(../images/studio1024.jpg);
            height: 330px;

        }

        &__right-input {
            width: 67%;
        }



        &__right-description {
            flex-direction: column;
        }

        &__right::before {
            min-height: 332px;
        }

        &__right-input {
            margin-bottom: 20px;
        }

    }

    .project {
        padding-bottom: 69px;

        &__grid {
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: 285px 307px 307px;
            grid-auto-flow: dense;
            gap: 25px;
        }

        &__list-item:nth-child(1) {

            grid-column: 1/3;

        }


        &__list-item:nth-child(2) {

            grid-column: 3/5;

        }

        &__list-item:nth-child(3) {

            grid-column: 5/9;

        }

        &__list-item:nth-child(4) {

            grid-column: 1/6
        }

        &__list-item:nth-child(5) {

            grid-column: 6/9
        }

        &__list-item:nth-child(6) {

            grid-column: 1/4
        }

        &__list-item:nth-child(7) {

            grid-column: 4/9
        }


        &__img1,
        &__img2,
        &__img3,
        &__img5,
        &__img6 {
            height: 184px;
        }

        &__img4,
        &__img7 {
            height: 307px;
        }

        &__information-descr {
            width: 70%;
        }


    }

    .contacts {

        .grid4 {

            grid-template-columns: 1.7fr 1fr;
            gap: 30px;
        }

        &__map-img {
            .ymaps-2-1-79-map {
                width: 100% !important
            }
        }

        &__input {
            width: 90%;
        }

        &__map-left {
            width: 100%;
        }

        &__blog {
            top: 69%;
            width: 100%;
            height: 31%;
            border-radius: 0;

            &-data {
                padding: 25px 250px 24px 35px;
            }

            &-data-address {
                display: inline;
            }

            &-data-tel {
                display: inline;
            }
        }
    }

    .footer {
        &__logo {
            width: 166px;
            height: 27px;

        }

        &__right {
            flex-basis: 588px;
            gap: 25px;

        }
    }

}

@media(max-width: 1023px) {
    element.style {
        width: 100%;
    }

    .container {
        padding: 0 20px;
    }

    .header {
        position: relative;

        &__logo {
            margin-right: auto;
        }

        &__right {

            position: static;
            flex-basis: 0;
        }

        .search__input {
            width: 342px;
        }

        &__nav {
            position: absolute;
            align-items: center;
            left: 0;
            top: 100%;
            height: 45px;
            width: 100%;
            background-color: #4A4A4A;

            &-list {
                gap: 50px;
            }

            &-item:nth-child(1) {
                padding-left: 19px;
            }

            &-item:nth-child(5) {
                padding-right: 19px;

            }
        }
    }

    .work {
        padding-top: 80px;

        .grid {
            grid-template-rows: 454px;
        }

        &__list {
            grid-template-rows: 228px 133px;
        }

        &__title {
            font-family: 'TTF';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 104%;
            margin-bottom: 17px;
        }

        &__content {
            top: 49%;
            left: 7%;
            line-height: 90%;

            &-descr {
                margin-bottom: 13px;
            }

            &-title {
                margin-bottom: 16px;
            }
        }
    }

    .studio {

        &__content {
            padding-bottom: 64px;
        }

        &__right-container {
            padding-top: 590px;
        }

        &__right-container::before {
            background-image: url(../images/studio768.jpg);
            height: 569px;

        }

        &__right-input {
            width: 92%;
        }

    }

    .project {
        padding-bottom: 63px;

        &__grid {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 300px 310px 300px 300px;
        }

        &__information {
            top: 33px;
            width: 59%;

            &-des {
                margin-bottom: 11%;
            }
        }

        &__button {
            padding: 13.5px 18px;
        }

        &__list-item:nth-child(1) {
            grid-column: 1/3;
        }

        &__list-item:nth-child(2) {
            grid-column: 3/5;
        }

        &__list-item:nth-child(3) {
            grid-column: 5/7;
        }

        &__list-item:nth-child(4) {
            grid-column: 1/ -1;
        }

        &__list-item:nth-child(5) {
            grid-column: 1/ 4;
        }

        &__list-item:nth-child(6) {
            grid-column: 4/7;
        }

        &__list-item:nth-child(7) {
            grid-column: 1/-1;
        }
    }

    .contacts {
        padding-bottom: 78px;

        .grid4 {
            grid-template-columns: repeat(3, 1fr);
        }

        &__map-left {
            grid-column: 1/4;
        }

        &__map-right {
            padding-top: 0;
            grid-column: 1/3;
        }

        &__input {
            width: 95%;
        }

        &__blog {
            top: 70%;

            &-data {
                padding-left: 25px;
            }

            &-data-tel {
                display: block;
            }
        }
    }

    .footer {

        &__left {
            margin-right: auto;
        }

        &__right {
            flex-basis: 162px;
        }

        &__descr {
            display: none;
        }


    }
}

@media(max-width: 767px) {
    .container {
        padding: 0 13px;
    }

    .button {
        padding: 10.5px 20px;
        font-size: 14px;
        line-height: 16px;
    }

    .header {

        &__burger {
            display: block;
            width: 100%;
            height: 45px;
            background-color: #4A4A4A;

            &-svg {
                padding-top: 13px;
                padding-left: 10px;
            }
        }




        &__logo {
            width: 112px;
            height: 18px;
        }



        &__btn svg {
            width: 20px;
            height: 20px;
        }



        &__nav {
            z-index: 2;
            display: flex;
            flex-direction: column;
            padding: 13px 0 36px 21px;
            min-height: 541px;
            align-items: flex-start;
            background-color: #202020;
            transform: translateX(300px);
            visibility: hidden;
            transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

            &-list {
                flex-direction: column;
                gap: 30px;
                margin-bottom: auto;
            }

            &-item:nth-child(1) {
                padding: 0;
            }

            &-closed {
                display: block;
                margin-bottom: 16px;
            }
        }

        &__nav--active {
            visibility: visible;
            transform: none;
        }

        &__inner {
            min-height: 70px;
        }

        .tel {

            display: flex;
            align-items: center;
            font-family: 'TTF';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: #FF6E30;
        }

        .stop-scroll {
            overflow: hidden;
        }



        .search {
            &__form {
                .search__input {
                    width: 278px;
                    right: -6px;
                }
            }
        }



    }

    .work {
        padding-top: 30px;
        padding-bottom: 50px;

        .grid {
            grid-template-columns: 1fr;
            grid-template-rows: 422px 375px;
        }

        &__content {
            top: 54%;
            left: 10%;

            &-descr {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
            }

            &-title {
                width: 70%;
                font-weight: 700;


                font-size: 24px;
                line-height: 110%;
            }

            &-button {
                padding: 6px 22px;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
            }
        }

        &__title {
            font-weight: 700;
            font-size: 18px;
            line-height: 104%;
        }

        &__master {
            top: 2px;
            right: 5px;
            padding: 4px 7px;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
        }

        &__list {
            grid-template-rows: 186px 105px;
        }
    }

    .studio {
        .grid3 {
            grid-template-columns: 1fr;
            gap: 20px
        }


        &__content {
            padding-top: 30px;
        }

        &__left-title {
            font-size: 18px;
            line-height: 23px;
        }

        &__right {
            padding: 0;

            &-title {
                font-size: 18px;
                line-height: 22px;
            }

            &-input {
                width: 90%;
                height: 40px;
                margin-bottom: 3px;
            }

            &-container {
                padding-top: 110%;
            }

            &-container::before {
                background-image: url(../images/studio320.jpg);
                height: 278px;
            }
        }

        &__left-descr {
            font-size: 14px;
            line-height: 25px;
        }




    }

    .project {
        padding-top: 48px;
        padding-bottom: 37px;


        &__title {
            margin-bottom: 15px;
            font-size: 18px;
            line-height: 23px;
        }

        &__grid {
            display: flex;
            flex-direction: column;

        }

        &__list-item:nth-child(1) {
            height: 300px;
        }

        &__list-item:nth-child(2),
        &__list-item:nth-child(3) {
            height: 278px;
        }

        &__list-item:nth-child(4) {
            height: 422px;
        }

        &__img4,
        &__img7 {
            height: 100%;
        }

        &__item-data {
            font-size: 12px;
            line-height: 22px;
        }

        &__item-descr {
            margin-bottom: 10px;
        }

        &__link {
            padding: 2px 10px;
        }

        &__button {
            padding: 9px 18px;
            font-size: 14px;
            line-height: 16px;
        }

        &__information {
            top: 47%;
            width: 80%;



            &-descr {
                margin-bottom: 10%;
                font-size: 14px;
                line-height: 16px;
            }

            &-des {
                margin-bottom: 7%;
            }

            &-title {
                margin-bottom: 12px;
            }

            &-descr {
                width: 90%;
                font-size: 14px;
                line-height: 18px;
            }
        }


    }

    .contacts {
        padding-bottom: 51px;

        &__container {
            padding: 0;
        }

        .grid4 {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &__title {
            padding-left: 14px;
            margin-bottom: 13px;
            font-size: 18px;
            line-height: 23px;
        }

        &__map-right {
            padding-left: 12px;
            padding-right: 21px;
        }

        &__blog {
            top: 68%;

            &-data {
                padding: 26px 34px 14px 10px;
            }

            &-data-title {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 10px;
            }

            &-data-address {
                font-size: 14px;
                line-height: 18px;
            }

            &-data-tel {
                font-size: 14px;
                line-height: 18px;
            }

            &-closed {
                top: 21px;
                right: 15px;
            }
        }

        &__form-title {
            font-size: 18px;
            line-height: 22px;
        }

        &__form-descr {
            font-size: 14px;
            line-height: 18px;
        }

        &__input {
            height: 40px;
        }

        &__input-textarea {
            margin-bottom: 20px;
        }


    }

    .footer {

        position: relative;

        &__left {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 78%;
            left: 0;
            width: 100%;
            height: 62px;
            background-color: #4a4a4a;
        }

        &__inner {
            display: flex;
            flex-direction: column;


        }

        &__social {
            margin-top: -28px;
        }

        &__logo {
            width: 112px;
            height: 18px;
            margin-bottom: 3px;
        }

        &__information {
            font-size: 10px;
            line-height: 13px;
        }
    }


}
